body{
    background-color: powderblue;
  }
  hr{
    border-style: dotted none none;
    width: 8%;
    border-width: 7px ;
    border-color: grey;
  }

  h1{
     color: blue;
  }
  h3{
      color: red;
  }

  /* hierarchy of css is inline css > internal css > external css*/