body{
    margin: 0;
}

h1{
    margin-top: 0;
}
/* ================Relative position example======================= */
/* .topContainer{
    background-color: red;
    display: inline-block;
    margin: 0;
    position: relative;
    left: 400px;
    height: 200px;
    width: 200px;
}
.middleContainer{
    background-color: blue;
    display: inline-block;
    margin: 0;
    position: relative;
    right: 200px;
    height: 200px;
    width: 200px;

}
.bottomContainer{
    background-color: yellow;
    display: inline-block;
    margin: 0;
    position: relative;
    right: 200px;
    height: 200px;
    width: 200px;
} */
/* =========Absolute positioning example=============================== */
.topContainer{
    background-color: red;
    margin: 0;
    position: absolute;
    left: 400px;
    top: 400px;
    height: 200px;
    width: 200px;
}
.middleContainer{
    background-color: blue;
    margin: 0;
    position: absolute;
    left: 200px;
    top: 200px;
    height: 200px;
    width: 200px;

}
.bottomContainer{
    background-color: yellow;
    margin: 0;
    position: absolute;
    height: 200px;
    width: 200px;
}
